$blue: #2DA1BE;
$mint: #72C7DC;
$gray: #7f7f7f;
$white: #FFFFFF;
$denim: #1078B5;
$black: #000000;
$tundora: #404040;
$emperor: #515151;
$gallery: #F0F0F0;
$skyBlue: #40b6d2;
$softRed: #EF3E43;
$doveGray: #616161;
$darkBlue: #1078B5;
$tealBlue: #074569;
$venetianRed: #D0021B;
$silverChalice: #B0B0B0;
$alizarinCrimson: #E41E2B;

$heading-font-size: 16px;
$default-font-size: 10px;

$primary-font: 'Pluto Regular', sans-serif;
$primary-font-bold: 'Pluto Bold', sans-serif;
$primary-font-black: 'Pluto Black', sans-serif;
$primary-font-heavy: 'Pluto Heavy', sans-serif;
$primary-font-light: 'Pluto Light', sans-serif;

$secondary-font: 'SFUItext Regular', sans-serif;

$tertiary-font: 'SharpSans-Bold' , sans-serif


